---
layout: default
title: Categories
---

<div class="article">
{% for category in site.categories %} 
  {% if category contains "graffiti" %}
    <h2  class="article-year" id="{{ category[0] }}-ref" data-year="&diams;">{{ category[0] | join: "/" }}</h2>
    <ul style="list-style: none">
      {% assign pages_list = category[1] %}  
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if group == null or group == node.group %}
          <li style="background:#F2EEEC; padding:5px; margin:3px 0"><a href="{{ BASE_PATH }}{{node.url}}">{{node.content  | truncatewords:40 }}
          <div class="info">
              <span class="info-title"><i class="icon-calendar"></i> Published: </span>
              <span class="info-date">{{ node.date | date_to_string }}</span>
          </div>
           </a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
{% endfor %}
</div>
